In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("learningset.csv", low_memory=False)
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

### Complete the following steps on the categorical columns in the dataset:

In [3]:
df_cat= df.select_dtypes(object)
df_cat

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

### 1-Check for null values in all the columns

In [4]:
df_cat.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
### SOURCE - symbol definitions not provided, too many categories
### ZIP CODE - we are including state already

In [5]:
drop_list = df_cat.loc[:, ['OSOURCE', 'ZIP']]
drop_list

      OSOURCE    ZIP
0         GRI  61081
1         BOA  91326
2         AMH  27017
3         BRY  95953
4              33176
...       ...    ...
95407     ASE  99504
95408     DCD  77379
95409     MBC  48910
95410     PRV  91320
95411     MCC  28409

[95412 rows x 2 columns]

In [6]:
df_cat.drop(drop_list, axis=1, inplace=True) 
df_cat

,STATE,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,IL,,,0,,,,,XXXX,T2,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,CA,,,0,,,,,XXXX,S1,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,NC,,,0,,,,,XXXX,R2,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,CA,,,0,,,,,XXXX,R2,...,A1D,A1D,,,L,E,X,X,X,C
4,FL,,,0,X,X,,,XXXX,S2,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,AK,,,0,,,,,XXXX,C2,...,,,,,L,G,X,X,X,C
95408,TX,,,0,,,,,XXXX,C1,...,,,,,L,F,X,X,X,A
95409,MI,,,0,,X,,,XXXX,C3,...,P1D,P1D,,,L,E,X,X,X,B
95410,CA,,,0,X,,,,XXXX,C1,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,NC,,,0,X,,X,,C1CM,C1,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

### Identify columns that over 85% missing values

In [7]:
#1st we change the blanks for nan values
df_cat = df_cat.replace(" ", np.nan)
df_cat

,STATE,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,IL,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,T2,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,CA,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,S1,...,N1E,N1E,NaN,F1E,L,G,X,X,X,A
2,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,R2,...,NaN,S4D,S4D,S3D,L,E,X,X,X,C
3,CA,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,R2,...,A1D,A1D,NaN,NaN,L,E,X,X,X,C
4,FL,NaN,NaN,0,X,X,NaN,NaN,XXXX,S2,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,AK,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,C2,...,NaN,NaN,NaN,NaN,L,G,X,X,X,C
95408,TX,NaN,NaN,0,NaN,NaN,NaN,NaN,XXXX,C1,...,NaN,NaN,NaN,NaN,L,F,X,X,X,A
95409,MI,NaN,NaN,0,NaN,X,NaN,NaN,XXXX,C3,...,P1D,P1D,NaN,NaN,L,E,X,X,X,B
95410,CA,NaN,NaN,0,X,NaN,NaN,NaN,XXXX,C1,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,NC,NaN,NaN,0,X,NaN,X,NaN,C1CM,C1,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [8]:
#2 we p
p85 = len(df_cat)*85/100
p85

81100.2

In [9]:
lost_values = [column for column in df_cat.columns if
           df_cat[column].isna().sum() > p85]
lost_values

['MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES']

In [10]:
df_cat[lost_values].isna().sum()

MAILCODE    94013
PVASTATE    93954
RECINHSE    88709
RECP3       93395
RECPGVG     95298
RECSWEEP    93795
CHILD03     94266
CHILD07     93846
CHILD12     93601
CHILD18     92565
SOLP3       95232
SOLIH       89212
MAJOR       95118
COLLECT1    90210
VETERANS    84986
BIBLE       86541
CATLG       87547
HOMEE       94525
CDPLAY      83158
STEREO      82618
PCOWNERS    84931
PHOTO       90626
CRAFTS      87236
FISHER      88282
GARDENIN    82010
BOATS       93384
WALKER      84911
KIDSTUFF    93876
CARDS       94371
PLATES      94852
dtype: int64

### Remove those columns from the dataframe

In [11]:
df_cat.drop(lost_values, axis=1, inplace=True)

In [12]:
df_cat.shape

(95412, 42)

### Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [19]:
print(df_cat['GENDER'].value_counts())

df_cat['GENDER'] = df_cat['GENDER'].fillna('F')

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [21]:
def new_gender(x):
    if x in ["U", "J", "C", "A"]:
        return "other"
    else: return x
df_cat["GENDER"] = df_cat["GENDER"].apply(lambda x: new_gender(x))

In [22]:
df_cat["GENDER"].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64